/*!
 * Theme Suka Docs | style.css
 * Author: SukkaW
 * Link: https://github.com/theme-suka/docs
 * License: GPL-3.0
 */

body,
html {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased
}

html .btn:focus,
html a:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

code {
    overflow: auto;
}

.card {
    border: none
}

html ::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: 0 0
}

@media (min-width:1024px) {
    html ::-webkit-scrollbar {
        width: 8px;
        height: 6px
    }
}

html ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3)
}

.suka-devide-dot::after {
    content: " · "
}

.navbar-icon {
    height: 1.8rem;
    width: 1.8rem;
}

@media (min-width: 960px) {
    .off-canvas-toggle {
        display: none;
    }
}

.navbar-icon img {
    height: 1.8rem;
    width: 1.8rem;
}

a,
a:visited {
    color: #0070ff
}

a:active,
a:focus,
a:hover {
    color: #0070ff;
    opacity: .75
}

.timeline .timeline-item .timeline-icon.icon-lg,
a.navbar-link,
a.navbar-link:visited {
    color: #0070ff !important
}

a.navbar-link:hover {
    color: #0070ff !important;
    opacity: .8 !important
}

.suka-navbar {
    background-color: #f5f5f5
}

.off-canvas .off-canvas-sidebar {
    width: 12rem;
}

.nav .nav-item a:focus,
.nav .nav-item a:hover {
    color: #667189;
}

.nav .nav-item.active>a:focus,
.nav .nav-item.active>a:hover {
    color: #667189;
}

.docs-nav {
    bottom: 1.5rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: 1rem 1rem;
    position: fixed;
    top: 3.5rem;
    width: 12rem;
}

.docs-header {
    background: #eee;
    padding: 1.5rem 0 !important;
    margin-bottom: 1.5rem;
}

.off-canvas .off-canvas-content {
    padding: 0 !important;
    min-height: 100vh;
}

.docs-header-wrapper {
    width: 90%;
    max-width: 52rem;
    margin: 0 auto;
}

.title-wrapper {
    word-wrap: none;
    word-break: break-all;
}

.docs-header-title {
    font-weight: 600;
}

.docs-github {
    font-size: 85%;
    color: #fff;
}

.docs-github:hover,
.docs-github:focus,
.docs-github:visited {
    color: #fff;
    opacity: .95;
}

.docs-content {
    max-width: 55rem;
    margin: 0 auto;
    width: calc(100vw - 12.7rem);
}

.docs-content-section {
    border-right: 1px solid #eee;
    padding: 0 2rem;
}

@media (max-width: 960px) {
    .docs-content {
        width: calc(100vw - 3rem)
    }
    .docs-content-section {
        border: none;
        padding: 0 1.2rem;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .docs-content {
        width: calc(100vw - 2rem)
    }
    .docs-content-section {
        padding: 0 .8rem;
    }
}

.docs-toc-section {
    padding: .5rem 1rem;
}

#post-toc {
    line-height: .8rem;
}

#post-toc a {
    color: #50596c !important;
}

#post-toc>ol {
    margin-top: 1.5rem !important;
    font-size: .7rem
}

#post-toc ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.8rem;
}

#post-toc li {
    margin-top: .2rem;
}

#post-toc>ol,
#post-toc>p {
    margin-left: 0;
    max-width: 8rem;
    position: fixed;
    z-index: 0;
    display: inline-block;
    text-align: left;
}

footer {
    color: #acb3c2;
    padding: .5rem .5rem 1.5rem .5rem;
    margin-left: 0;
    max-width: 800px;
    padding-bottom: 1.5rem;
    text-align: center
}

footer a,
footer a:focus,
footer a:hover,
footer a:visited {
    color: #667189;
}

#search-result {
    padding: .2rem 0;
}

#search-result .tile {
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-bottom: .05rem solid #e7e9ed;
}

.search-result-title {
    margin-bottom: .25rem;
    font-size: .85rem
}

.saerch-result-date {
    padding-right: .4rem;
    color: #444;
}

.search-result-summary {
    font-size: .7rem;
    line-height: 1rem !important;
    max-height: 3rem;
    overflow: hidden;
    margin-bottom: 0;
}